.button {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    margin: 0;
    padding: 1rem 2.5rem;

    background: none;
    border: none;
    border-radius: 2.5rem;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;

    line-height: 1.375rem;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 1.125rem;
    color: get-color(font);

    transform: translateY(0rem);
    transition: 120ms ease-out;
    transition-property: transform;

    @include breakpoint(medium) {
        line-height: 1.5rem;
        font-size: 1.25rem;
    }

    @include breakpoint(large) {
        line-height: 1.75rem;
        font-size: 1.5rem;
    }

    &.primary {
        background-image: url('../img/button-overlay.png'); 
        background-position: -1rem 50%;
        background-repeat: no-repeat;
        background-color: get-color(orange);
        box-shadow: 0 0 0 rgba( get-color(orange), 0.25 );

        color: get-color(white);

        transition-property: box-shadow, background-color, transform;

        &:hover {
            background-color: darken( get-color(orange), 2% );
            box-shadow: 0 0.25rem 0.5rem rgba( get-color(orange), 0.25 );

            transform: translateY(-0.125rem);
        }

        &:active {
            background-color: darken( get-color(orange), 5% );
            box-shadow: 0 0 0.125rem rgba( get-color(orange), 0.25 );

            transform: translateY(0rem);
        }

        &:focus {
            background-color: get-color(orange);
        }
    }

    &.ghost {
        border: 0.0625rem solid rgba( get-color(white), 0.44 );

        color: get-color(white);

        transition-property: box-shadow, background-color, transform;

        &:hover,
        &:focus {
            background-color: get-color(white);
            box-shadow: 0 0.25rem 0.5rem rgba( get-color(orange), 0.25 );
            color: get-color(orange);
        }

        &:active {
            transform: translateY(0.125rem);
        }

        &.orange {
            border: 0.0625rem solid rgba( get-color(orange), 0.44 );
            font-weight: 400;

            color: get-color(orange);

            &:hover,
            &:focus {
                background-color: get-color(orange);
                color: get-color(white);
            }
        }
    }

    &.text {
        justify-content: flex-start;

        padding: 0;
        margin: 0;

        text-align: left;
        font-family: $font-heading;
        font-style: italic;
        font-weight: 600;

        &:hover,
        &:active,
        &:focus {
            background-color: none;
            text-decoration: underline;
            color: get-color(font);
        }
    }

    span {
        line-height: inherit;
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        color: inherit;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: inherit;
    }

    &.small {
        display: flex;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 1.125rem;
        font-size: 1.125rem;

        @include breakpoint(medium) {
            line-height: 1rem;
            font-size: 1rem;
        }

        @include breakpoint(large) {
            padding-left: 2rem;
            padding-right: 2rem;
            line-height: 1.125rem;
            font-size: 1.125rem;
        }
    }

    &.large {
        padding-left: 3.5rem;
        padding-right: 3.5rem;

        font-size: 1.5rem;

        @include breakpoint(small only) {
            width: 100%;
        }
    }
}