.footer {
    background: get-color(white);
    border-top: 0.3125rem solid get-color(dark);
    overflow: hidden;

    &-container {
        padding-top: 3rem;
        padding-bottom: 1rem;

        color: get-color(font);

        @include breakpoint(medium) {
            padding-top: 5rem;
            padding-bottom: 3rem;
        }
    }

    ul {
        width: 100%;
        margin: 0 0 2rem;

        li {
            display: flex;
            flex-flow: row wrap;
            align-items: baseline;

            width: 100%;
            list-style: none;

            &:before {
                display: none;
            }

            a {
                display: flex;
                max-width: 100%;
                text-decoration: none;
            }

            span {
                margin: 0;
                padding: 0.75rem 0;

                line-height: 1.125rem;
                font-family: $font-primary;
                font-weight: 400;
                font-size: 1.125rem;
                color: get-color(font);
            }

            &:hover a {
                text-decoration: underline;
            }

            &.plus {
                span {
                    padding-left: 1rem;
                    position: relative;

                    &:before {
                        content: '+';

                        line-height: 1.25rem;
                        font-family: $font-heading;
                        font-weight: 400;
                        font-size: 1.25rem;
                        color: get-color(orange);

                        position: absolute;
                        left: 0;
                    }
                }
            }
        }
    }

    &-after {
        background: get-color(medium);

        &-content {
            display: flex;
            flex-flow: column wrap;
            align-items: center;

            padding: 1rem 0;
            box-sizing: border-box;

            @include breakpoint(medium) {
                flex-flow: row wrap;
                justify-content: center;
            }            

            span {
                font-size: 1rem;
                color: get-color(font);

                a {
                    display: inline;
                    text-decoration: none;
                    color: get-color(orange);

                    &:hover {
                        text-decoration: underline;
                    }
                }

                @include breakpoint(medium) {
                    &:before {
                        content: '-';
                        display: inline-flex;
                        padding: 0 0.5rem;
                    }

                    &:first-child {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
