form {
    width: 100%;

    .form {
        &-row {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            width: 100%;

            &.submit {
                padding-top: 3rem;
                justify-content: flex-end;
            }
        }

        &-item {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            width: 100%;
            min-height: 3rem;
            position: relative;

            @include breakpoint(medium) {
                width: calc( 50% - 1rem );
            }

            &.radio {
                justify-content: flex-start;
                padding: 0 0 0.625rem 2.5rem;

                @include breakpoint(small only) {
                    margin-bottom: 0.625rem;
                    border-bottom: 0.0625rem solid get-color(medium);
                }

                input {
                    &:checked {
                        & ~ span {
                            &:after {
                                display: block;
                            }
                        }
                    }
                }

                label {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-start;
                    align-items: center;

                    padding: 0 1rem 0 1.125rem;
                    position: relative;

                    span {
                        height: auto;
                        margin: 0;
                        padding: 0 0 0 0.5rem;

                        line-height: 1rem;

                        position: relative;

                        &:before {
                            content: '';
                            width: 1.125rem;
                            height: 1.125rem;
                            background: get-color(light);
                            box-shadow: inset 0 0 0 0.0625rem rgba( get-color(dark), 0.15 );
                            border-radius: 1.125rem;

                            position: absolute;
                            top: 0;
                            right: 100%;
                        }

                        &:after {
                            content: '';
                            display: none;
                            width: 0.375rem;
                            height: 0.375rem;
                            margin: 0.375rem;
                            background: get-color(orange);
                            border-radius: 0.375rem;

                            position: absolute;
                            top: 0;
                            right: 100%;
                        }
                    }

                    &:hover {
                        span {
                            &:before {
                                box-shadow: inset 0 0 0 0.0625rem get-color(orange);
                            }
                        }
                    }
                }
            }

            &.birthyear {
                flex-flow: row nowrap;
                justify-content: flex-start;

                & > label {
                    padding-left: 2.5rem;
                }

                & > input {
                    margin-left: 1rem;
                    padding: 0 0.25rem;
                    text-align: center;

                    &:last-child {
                        min-width: 5rem;
                    }
                }
            }

            &.validated {
                &:after {
                    content: '';
                    width: 2rem;
                    height: 2rem;

                    background: url('../img/icon-check.svg') center center no-repeat;

                    position: absolute;
                    top: 0.5625rem;
                    right: 2rem;
                }
            }
        }
    }

    label {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: baseline;

        line-height: 3.125rem;
        font-family: $font-primary;
        font-weight: 400;
        font-size: 1rem;
        color: get-color(font);

        cursor: pointer;
    }

    input {
        &[type='text'],
        &[type='password'],
        &[type='date'],
        &[type='datetime'],
        &[type='datetime-local'],
        &[type='month'],
        &[type='week'],
        &[type='email'],
        &[type='number'],
        &[type='search'],
        &[type='tel'],
        &[type='time'],
        &[type='url'],
        &[type='color'] {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            height: 3.125rem;
            margin: 0 0 0.625rem;
            padding: 1rem 2.5rem;

            background: get-color(light);
            border: 0.0625rem solid rgba( get-color(dark), 0.15 );
            border-radius: 1.5625rem;
            box-sizing: border-box;
            box-shadow: none;
            outline: none;

            line-height: 3.125rem;
            font-family: $font-primary;
            font-weight: 400;
            font-size: 1rem;
            color: get-color(font);

            transform: translateY(0rem);
            transition: 120ms ease-out;
            transition-property: transform;

            &:hover {
                border-color: get-color(orange);
                box-shadow: none;
            }

            &:focus {
                border-color: get-color(orange);
                background: get-color(white);
                box-shadow: none;
            }
        }

        &[type='radio'] {
            display: none;
        }
    }

    textarea {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        min-height: 5rem;
        max-width: 100%;
        margin: 0 0 0.625rem;
        padding: 1rem 2.5rem;

        background: get-color(light);
        border: 0.0625rem solid rgba( get-color(dark), 0.15 );
        border-radius: 1.5625rem;
        box-sizing: border-box;
        box-shadow: none;
        outline: none;

        line-height: 3.125rem;
        font-family: $font-primary;
        font-weight: 400;
        font-size: 1rem;
        color: get-color(font);

        transform: translateY(0rem);
        transition: 120ms ease-out;
        transition-property: transform;

        &:hover {
            border-color: get-color(orange);
            box-shadow: none;
        }

        &:focus {
            border-color: get-color(orange);
            background: get-color(white);
            box-shadow: none;
        }
    }

    ::-webkit-input-placeholder {
        font-weight: 300;
        color: get-color(font);
    }

    :-ms-input-placeholder {
        font-weight: 300;
        color: get-color(font);
    }

    ::placeholder {
        font-weight: 300;
        color: get-color(font);
    }
}