.header {
    width: 100%;
    z-index: 100;

    &-background {
        height: 10rem;
        width: 60%;

        background-color: get-color(orange);
        border-bottom-left-radius: 32rem 22rem;
        overflow: hidden;

        position: absolute;
        top: 0;
        
        right: 0;
        z-index: 0;

        &:after {
            content: '';
            width: 100%;
            height: 100%;

            background: linear-gradient(to left, rgba( get-color(orange), 0.2 ) 0%, rgba( get-color(orange), 1 ) 100%);

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 20;

            @include breakpoint(small only) {
                background: linear-gradient(to bottom, rgba( get-color(orange), 0.3 ) 0%, rgba( get-color(orange), 1 ) 80%);
            }

            @include breakpoint(xlarge) {
                background: linear-gradient(to left, rgba( get-color(orange), 0 ) 0%, rgba( get-color(orange), 0.8 ) 100%);
            }
        }

        figure {
            width: 100%;
            height: 100%;

            img {
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                object-fit: cover;
            }
        }
    }

    .top-bar {
        padding: 0;
        background: rgba(get-color(white), 0.5);
        box-sizing: border-box;
        position: relative;

        .grid-container {
            width: 100%;
        }

        &-content {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            width: 100%;

            @include breakpoint(small only) {
                margin: 0.5rem 0;
            }
        }

        &-item {
            display: flex;
            flex-flow: row wrap;

            padding: 1.25rem 1rem;

            line-height: 0.9375rem;
            font-family: $font-primary;
            font-weight: 500;
            font-size: 0.9375rem;
            color: get-color(orange);

            position: relative;
            z-index: 100;

            @include breakpoint(small only) {
                padding: 1rem;
                margin: -0.5rem;
            }

            span {
                white-space: nowrap;
            }
        }
    }
}
