.grid-container {
    width: 100%;
    max-width: 87.5rem;
}

.cell {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;

    &.align-center {
        align-items: center;
    }
}

.page {
    &-wrapper {
        max-width: 100vw;
        overflow: hidden;
        position: relative;
    }

    &-heading {
        width: 100%;
        overflow: hidden;
        position: relative;

        @include breakpoint(medium) {
            height: 40.5rem;
        }

        img {
            width: 100%;
            height: 100%;
            min-height: 100%;
            object-fit: cover;

            @include breakpoint(medium) {
                width: 100%;
                height: auto;
            }
        }
    }

    &-header {
        padding: 12rem 0 2rem;
        overflow: hidden;
        position: relative;

        @include breakpoint(medium) {
            padding: 12rem 0 4rem;
        }

        @include breakpoint(large) {
            padding: 14rem 0 4rem;
        }

        @include breakpoint(xlarge) {
            padding: 16rem 0 4rem;
        }

        @include breakpoint(small only) {
            background: get-color(orange);

            .grid-x {
                flex-flow: column-reverse wrap;
            }
        }

        &-background {
            height: 100%;

            background-color: get-color(orange);
            overflow: hidden;

            position: absolute;
            top: 0;
            
            right: 0;
            z-index: 0;

            @include breakpoint(medium) {
                left: 33.33333%;
                border-bottom-left-radius: 22rem 32rem;
            }

            @include breakpoint(xlarge) {
                // left: 38%;
            }

            @include breakpoint(xxlarge) {
                left: 38%;
            }

            &:after {
                content: '';
                width: 100%;
                height: 100%;

                background: linear-gradient(to left, rgba( get-color(orange), 0.2 ) 0%, rgba( get-color(orange), 1 ) 100%);

                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 20;

                @include breakpoint(small only) {
                    background: linear-gradient(to bottom, rgba( get-color(orange), 0.3 ) 0%, rgba( get-color(orange), 1 ) 80%);
                }

                @include breakpoint(xlarge) {
                    background: linear-gradient(to left, rgba( get-color(orange), 0 ) 0%, rgba( get-color(orange), 0.8 ) 100%);
                }
            }

            figure {
                width: 100%;
                height: 100%;

                img {
                    min-width: 100%;
                    min-height: 100%;
                    width: auto;
                    height: auto;
                    object-fit: cover;
                }
            }
        }

        .cell {
            position: relative;
            z-index: 20;

            &.usps {
                @include breakpoint(small only) {
                    ul {
                        margin-top: 1rem;
                        padding: 1.25rem;

                        background: get-color(white);
                        border-radius: 0.5rem;
                    }

                    .button {
                        padding: 0.5rem 0;
                        color: get-color(white);
                    }
                }
            }

            &.cta {
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                justify-content: center;

                @include breakpoint(small only) {
                    height: 50%;
                    padding-bottom: 2rem;
                }

                @include breakpoint(xlarge) {
                    justify-content: flex-end;
                }

                h1 {
                    margin-bottom: 0.25rem;
                    color: get-color(white);

                    @include breakpoint(medium) {
                        margin-bottom: 0.125rem;
                    }
                }

                h2 {
                    margin-bottom: 2rem;
                    letter-spacing: -0.0625rem;
                    font-weight: 400;
                    color: get-color(white);

                    @include breakpoint(medium) {
                        font-size: 1.75rem;
                    }
                }

                .button {
                    @include breakpoint(medium) {
                        margin-left: 5rem;
                    }
                }
            }
        }
    }

    &-section {
        width: 100%;
        position: relative;

        &.medium {
            background: get-color(medium);
        }

        &-background {
            @include breakpoint(small only) {
                width: 100%;
                height: auto;
                padding: 2rem 0.625rem 0;
            }
    
            @include breakpoint(medium) {
                width: 50%;
                height: 100%;

                position: absolute;
                top: 0;
                left: 50%;
                right: 0;
                bottom: 0;
                z-index: 0;
            }

            figure {
                width: 100%;
                height: 100%;

                img {
                    min-width: 100%;
                    min-height: 100%;
                    width: auto;
                    height: auto;
                    object-fit: cover;
                }
            }
        }

        .cell {
            position: relative;
            z-index: 10;
        }

        .service {
            .icon {
                margin-bottom: 2rem;
            }

            p {
                color: get-color(dark);
            }
        }
    }
}

.section {
    &-head {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;

        width: 100%;
        margin-bottom: 2rem;
        padding: 4.5rem 0 1rem;
        border-bottom: 0.125rem solid get-color(medium);

        @include breakpoint(small only) {
            align-items: center;
        }

        h1 {
            margin: 0;
            padding: 0 2rem 0 0;
            line-height: 1.5rem;
            font-family: $font-primary;
            font-weight: 700;
            font-size: 1.5rem;
            color: get-color(font);

            @include breakpoint(small only) {
                min-width: 100%;
                padding: 0 0 0.5rem;
            }
        }

        h2 {
            margin: 0;
            padding: 0;
            line-height: 1.125rem;
            font-family: $font-primary;
            font-weight: 700;
            font-size: 1.125rem;
            color: get-color(orange);
        }

        h3 {
            margin: 0;
            padding: 0;
            line-height: 1.5rem;
            font-family: $font-primary;
            font-weight: 400;
            font-size: 1.5rem;
            color: get-color(font);
        }

        a {
            padding: 0.5rem 2rem;
            line-height: 1.125rem;
            font-family: $font-primary;
            font-weight: 400;
            font-size: 1.125rem;
            color: get-color(orange);

            &:hover {
                text-decoration: underline;
                color: get-color(orange);
            }
        }

        .right {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            flex: 1;
            align-self: flex-end;

            @include breakpoint(small only) {
                flex-grow: 2;

                h3 {
                    width: 100%;
                }
            }
        }
    }

    &-foot {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: baseline;

        width: 100%;
        padding: 2rem 0 0;

        a {
            text-decoration: none;
            line-height: 1rem;
            font-family: $font-primary;
            font-weight: 400;
            font-size: 1rem;
            color: get-color(font);

            &.italic {
                font-style: italic;
            }

            &:hover {
                text-decoration: underline;
                color: get-color(orange);
            }
        }

        span {
            display: flex;
            padding: 0 0.5rem;
        }
    }
}

.message {
    box-sizing: border-box;

    @include breakpoint(small only) {
        padding: 1rem 0;
    }

    p {
        margin-bottom: 0;
        padding-bottom: 0;
        line-height: 1.5rem;
        font-family: $font-primary;
        font-weight: 300;
        font-size: 1.125rem;
        color: get-color(font);   
    }
}

main {
    position: relative;
    z-index: 1;
}

.inner-padding {
    &-y {
        padding-top: 2rem;
        padding-bottom: 2rem;

        @include breakpoint(medium) {
            padding-top: 3.5rem;
            padding-bottom: 3.5rem;
        }

        @include breakpoint(large) {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
    }

    &-x {
        padding-left: 1rem;
        padding-right: 1rem;

        @include breakpoint(medium) {
            padding-left: 1.5rem;   
            padding-right: 1.5rem;
        }

        @include breakpoint(large) {
            padding-left: 3.5rem;   
            padding-right: 3.5rem;
        }
    }
}