.listing {
    padding: 2.5rem 0 1.5rem;
    border-bottom: 0.125rem solid get-color(light);

    &-wrapper {
        padding: 2rem 0 10rem;
    }

    &-user {
        .details {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: baseline;

            @include breakpoint(small only) {
                justify-content: flex-start;
            }

            span {
                margin: 0 1.75rem;

                @include breakpoint(small only) {
                    max-width: 50%;
                    margin: 0;
                }
            }
        }
    }

    .comments {
        display: flex;
        flex-flow: row wrap;
        padding-top: 0;
        padding-bottom: 0;

        @include breakpoint(small only) { 
            margin-bottom: 1rem;
        }

        @include breakpoint(medium) { 
            align-items: center;
        }

        span {
            font-family: $font-primary;
            font-weight: 600;
            font-size: 1.125rem;
            color: get-color(alert);

            &.none {
                font-weight: 300;
                color: get-color(font);
            }
        }

        a {
            color: get-color(font);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    h2 {
        margin-bottom: 0.75rem;
        line-height: 2rem;
        font-size: 1.5rem;

        @include breakpoint(medium) {
            margin-bottom: 0.75rem;
            line-height: 2rem;
            font-size: 1.5rem;
        }
    }

    &-details {
        display: flex;
        flex-flow: row wrap;

        span {
            width: 25%;

            line-height: 1.5rem;
            font-weight: 400;
            font-size: 1rem;

            &:first-child {
                width: 50%;
            }
        }
    }
}