.menu {
    &-fixture {
        width: 100%;
        height: 4rem;
        position: absolute;
        z-index: 100;

        @include breakpoint(medium) {
            height: 6rem;
        }

        @include breakpoint(large) {
            height: 8rem;
        }
    }

    &-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        max-width: 100%;
        background: rgba( get-color(white), 0 );

        @include breakpoint(small only) {
            background: get-color(white);
            position: relative;
        }

        @include breakpoint(medium) {
            transition: background 100ms ease;
        }

        .grid-container {
            width: 100%;

            @include breakpoint(small only) {
                padding: 0;
            }
        }
    }

    &-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        min-width: 100%;
        height: 4rem;

        @include breakpoint(small only) {
            // background: get-color(white);
            position: relative;
        }

        @include breakpoint(medium) {
            height: 6rem;

            transition: height 180ms ease-out;
            will-change: height;
        }

        @include breakpoint(large) {
            align-items: stretch;
            height: 8rem;
        }

        .logo {
            display: flex;
            flex-flow: row wrap;

            height: 100%;
            padding: 0.5rem 0;

            position: relative;

            @include breakpoint(small only) {
                margin-left: 1.25rem;
            }

            @include breakpoint(medium) {
                // transition: all 180ms ease-out;
                // will-change: transform;
            }

            figure {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                height: 100%;

                img {
                    width: auto;
                    max-height: 100%;
                }
            }
        }
    }

    &-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        flex-grow: 2;

        @include breakpoint(small only) {
            display: none;
            order: 4;
            background: get-color(white);
            min-width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
        }

        ul {
            display: flex;
            flex-direction: row wrap;
            align-items: stretch;

            height: 100%;
            margin: 0;

            @include breakpoint(small only) {
                flex-direction: column;
                width: 100%;
                margin: 0.5rem 0;
            }

            @include breakpoint(medium) {
                flex-flow: row wrap;
                justify-content: flex-end;
                margin-right: -1.25rem;
            }

            li {
                margin: 0;
                padding: 0;
                list-style: none;

                a {
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: center;

                    height: 100%;
                    padding: 0 1.25rem;

                    line-height: 1.125rem;
                    font-family: $font-heading;
                    font-weight: 600;
                    font-size: 1.125rem;
                    color: get-color(font);

                    @include breakpoint(small only) {
                        padding: 1rem 1.25rem;
                    }

                    @include breakpoint(medium) {
                        padding: 0.5rem 1.25rem;
                        line-height: 1rem;
                        font-size: 1rem;
                    }

                    @include breakpoint(large) {
                        line-height: 1.125rem;
                        font-size: 1.125rem;
                    }

                    &:hover {
                        span {
                            text-decoration: underline;
                            color: get-color(orange);
                        }
                    }
                }

                &.active {
                    a {
                        color: get-color(orange);
                    }
                }
            }
        }
    }

    &-toggle,
    &-toggle-backend {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        min-height: 100%;
        padding: 1rem;
        outline: none;

        @include breakpoint(medium) {
            margin-right: -1.25rem;
            padding: 0 1.5rem;
            display: none;
        }

        @include breakpoint(large) {
            display: none;
        }

        &-wrapper {
            display: flex;
            flex-flow: row wrap;
        }

        i {
            line-height: 1.5rem;
            font–size: 1.5rem !important;
            color: get-color(orange);

            transform: scale(1);
            transition: 100ms ease-out;
            transform-property: transform opacity;

            &:before {
                font-size: 1.25rem;
            }

            &.alt {
                opacity: 0;

                position: absolute;
                transform: scale(1.25);
            }
        }
    }

    &-backend {
        display: none;
        padding: 1.25rem 0;
        background: get-color(medium);

        @include breakpoint(small only) { 
            background: get-color(medium);
            box-shadow: 0 0 0 rgba(get-color(black), 0);
            min-width: 100%;
            position: fixed;
            top: 4rem;
            left: 0;
            z-index: 90;
        }

        @include breakpoint(medium) { 
            padding: 1.25rem 0;
        }

        @include breakpoint(large) { 
            padding: 1.75rem 0;
        }

        &-content {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: stretch;
            width: 100%;

            @include breakpoint(small only) { 
                flex-flow: column wrap;
                align-items: stretch;
                justify-content: stretch;
            }

            ul {
                display: flex;
                flex-flow: row wrap;
                align-items: stretch;

                @include breakpoint(large) { 
                    margin: 0 0 0 -0.5rem;
                }

                @include breakpoint(small only) { 
                    min-width: 100%;
                }

                li {
                    display: flex;
                    height: 100%;

                    @include breakpoint(medium) { 
                        margin-right: 0.25rem;
                    }

                    @include breakpoint(small only) { 
                        min-width: 100%;
                    }

                    a {
                        display: flex;
                        flex-flow: column wrap;
                        justify-content: center;
                        align-items: center;

                        height: 100%;
                        margin: 0 1rem;
                        padding: 0 1.5rem;

                        box-sizing: border-box;
                        border-radius: 2.5rem;

                        line-height: 1.125rem;
                        font-family: $font-primary;
                        font-weight: 400;
                        font-size: 1.125rem;
                        color: get-color(font);

                        @include breakpoint(small only) { 
                            min-width: 100%;
                            margin: 0 0 0.125rem;
                            padding: 1rem;
                        }

                        @include breakpoint(medium) {
                            padding: 1rem 1.25rem;
                            margin: 0;
                            line-height: 1rem;
                            font-size: 1rem;
                        }

                        @include breakpoint(large) {
                            line-height: 1.125rem;
                            font-size: 1.125rem;
                        }
                    }

                    &:hover {
                        a {
                            background: get-color(white);
                        }
                    }

                    &.active {
                        a {
                            background: get-color(white);
                            color: get-color(orange);
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint(small only) { 
    .menu-open { 
        .menu {
            &-container {
                display: flex;
            }

            &-toggle {
                i {
                    opacity: 0;
                    transform: scale(0.9);

                    &.alt {
                        opacity: 1;
                        transform: scale(1.125);
                    }
                }
            }
        }

        .overlay {
            opacity: 1;
            pointer-events: all;

            @include breakpoint(small only) {
                background: rgba(get-color(black), 0.4);
            }
        }
    }

    .backend-open {
        .menu {
            &-toggle-backend {
                i {
                    opacity: 0;
                    transform: scale(0.9);

                    &.alt {
                        opacity: 1;
                        transform: scale(1.125);
                    }
                }
            }

            &-backend {
                display: flex;
                box-shadow: 0 0.0625rem 0.125rem rgba(get-color(black), 0.15);
            }
        }

        .overlay {
            opacity: 1;
            pointer-events: all;

            @include breakpoint(small only) {
                background: rgba(get-color(black), 0.4);
            }
        }
    }
}

.backend {
    .menu {
        &-fixture {
            position: relative;

            @include breakpoint(medium) {
                background: transparent;
            }
        }

        &-wrapper {
            // background: get-color(white);
        }

        &-backend {
            @include breakpoint(medium) {
                display: flex;
            }
        }
    }
}

.fixed {
    .menu {
        &-wrapper {
            box-shadow: 0 0.0625rem 0.125rem rgba(get-color(black), 0.15);
            position: fixed;
            top: 0;

            @include breakpoint(medium) {
                background: get-color(white);
            }
        }

        &-content {
            align-items: center;
            height: 4rem;

            @include breakpoint(medium) {
                height: 5rem;
            }

            @include breakpoint(large) {
                height: 5rem;   
            }

            .logo {
                @include breakpoint(medium) {
                    margin: 0;
                    padding: 0.5rem 0;
                }
            }
        }
    }
}

.overlay {
    display: flex;
    width: 100%;
    height: 100%;
    
    opacity: 0;
    pointer-events: none;
    background: rgba(get-color(black), 0);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 90;

    transition: opacity 100ms ease;
}