.sidebar {
    box-sizing: border-box; 

    @include breakpoint(small only) {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    @include breakpoint(medium) {
        padding-right: 5rem !important;
    }
}

.avatar {
    width: 100%;
    margin-bottom: 3rem;
    padding: 100% 0 0;

    border-radius: 100%;
    overflow: hidden;

    position: relative;

    @include breakpoint(small only) {
        width: 60%;
        margin-bottom: 2rem;
        padding: 60% 0 0;
    }

    img {
        width: 100%;
        height: 100%;

        object-fit: cover;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.comments {
    padding-bottom: 10rem;

    &-item {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        min-height: 3.125rem;
        padding: 0.25rem 0 0.125rem;

        border-bottom: 0.125rem solid get-color(light);

        @include breakpoint(small only) {
            padding: 1.125rem 0;
        }

        & > span {

        }

        span, a {
            line-height: 1.5rem;
            font-size: 1.125rem;
            color: get-color(font);
        }

        .name {
            min-width: 25%;

            @include breakpoint(small only) {
                min-width: 100%;
                padding-bottom: 0.25rem;
                line-height: 1.25rem;
                font-weight: 500;
                font-size: 1.25rem;
            }
        }

        .motivation {
            @include breakpoint(small only) {
                min-width: 100%;
            }

            &:hover {
                text-decoration: underline;
                color: get-color(orange);
            }
        }
    }
}

.actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    width: auto;

    a {
        width: 3rem;
        height: 3rem;

        &.message {
            background: url('../img/icon-dash-message.png') center center no-repeat;
        }

        &.approve {
            background: url('../img/icon-dash-approve.png') center center no-repeat;
        }

        &.reject {
            background: url('../img/icon-dash-reject.png') center center no-repeat;
        }
    }
}