.star-rating {
    height: 1.3125rem;
    width: 8.875rem;
    background: url('../img/icon-star-open.png') top left repeat-x;
    background-size: auto 100%;

    &-stars {
        height: 1.3125rem;
        width: 0;
        background: url('../img/icon-star.png') top left repeat-x;
        background-size: auto 100%;
    }
}