.signup {
    &-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: stretch;

        width: 100%;
        padding: 4rem 0 8rem;

        @include breakpoint(small only) {
            flex-flow: column wrap;
        }

        h2 {
            width: 100%;
            margin: 2rem 0 4rem;
            text-align: center;
        }
    }

    &-item {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;

        width: calc( 50% - 1rem );
        margin-bottom: 2rem;
        padding: 4rem 2rem;

        border-radius: 1.875rem;
        border: 0.0625rem solid rgba( get-color(dark), 0.15 );
        box-sizing: border-box;

        text-align: center;

        @include breakpoint(small only) {
            width: 100%;
        }

        h2 {
            margin: 0 0 0.75rem;
            line-height: 1.5rem;
            font-weight: 600;
            font-size: 1.5rem;
            color: get-color(font);
        }

        p {
            margin: 0 0 2rem;
            padding: 0;
            line-height: 1.5rem;
            font-weight: 300;
            font-size: 1rem;
            color: get-color(font);
        }
    }
}