table {
    border-collapse: collapse;

    @include breakpoint(small only) {
        margin-bottom: 2rem;
        border-bottom: 0.125rem solid get-color(medium);
    }

    tbody {
        background: transparent;
        border: none;

        tr {
            margin: 0;
            padding: 0;

            &:nth-child(even) {
                background-color: transparent;
            }

            &:last-child {
                td {
                    @include breakpoint(small only) {
                        height: 4rem;
                        padding-bottom: 2rem;
                    }
                }
            }

            td {
                height: 2rem;
                margin: 0;
                padding: 0 1rem 0 0;

                h4 {
                    margin: 0;
                    padding: 0;
                    line-height: 1rem;
                    font-family: $font-primary;
                    font-weight: 700;
                    font-size: 1rem;
                    color: get-color(orange);
                }

                span {
                    margin: 0;
                    padding: 0;
                    line-height: 1rem;
                    font-family: $font-primary;
                    font-weight: 400;
                    font-size: 1rem;
                    color: get-color(font);
                }
            }
        }
    }
}