// Override foundation Settings

// Font
$font-primary: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-heading: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors
$foundation-palette: (
    orange: #eb5d16,

    black: #0a0a0a,
    dark: #494949,
    medium: #f1f1f1,
    light: #f6f6f6,
    white: #fefefe,

    success: #8ec63f,
    warning: #fb9c00,
    alert: #e84e0e,

    font: #1d1d1b
);

$breakpoints: (
    small: 0rem,
    medium: 40rem,
    large: 64rem,
    xlarge: 87.5rem,
    xxlarge: 87.5rem,
);