h1 {
    margin-bottom: 1.5rem;
    line-height: 2.25rem;
    font-family: $font-heading;
    font-weight: 600;
    font-size: 2rem;
    color: get-color(dark);

    @include breakpoint(medium) {
        margin-bottom: 2.5rem;
        line-height: 2.5rem;
        font-size: 2.25rem;
    }

    &.colored {
        margin-bottom: 2.5rem;
        color: get-color(dark);

        span {
            color: get-color(orange);
        }
    }
}

h2, h3 {
    line-height: 2rem;
    font-family: $font-primary;
    font-weight: 600;
    font-size: 1.5rem;
    color: get-color(font);

    @include breakpoint(medium) {
        line-height: 2.25rem;
        font-size: 1.875rem;
    }
}

p {
    margin-bottom: 1.5rem;
    line-height: 1.875rem;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 1.125rem;
    color: get-color(font);

    @include breakpoint(medium) {
        margin-bottom: 2rem;

        line-height: 2rem;
        font-size: 1.25rem;
    }

    a {
        text-decoration: none;
        font-weight: 600;
        color: get-color(orange);

        &:hover {
            text-decoration: underline;
            color: get-color(orange);
        }
    }

    .orange {
        color: get-color(orange);
    }
}

// Fontello icons
[class^="icon-"]:before, 
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
}
.icon-cancel:before { content: '\e800'; }
.icon-menu:before { content: '\f008'; }
.icon-work:before { content: '\e802'; }

.light > p {
    font-weight: 300;
}

ul {
    margin: 0;
    padding: 0;

    &.plus {
        margin-bottom: 1.5rem;

        @include breakpoint(medium) {
            margin-bottom: 2rem;
        }

        li {
            width: 100%;
            margin: 0;
            padding: 0 0 0 1.5rem;
            list-style: none;

            line-height: 2rem;
            font-family: $font-primary;
            font-weight: 400;
            font-size: 1.25rem;
            color: get-color(font);

            position: relative;

            &:before {
                content: '+';

                line-height: 2rem;
                font-family: $font-heading;
                font-weight: 600;
                font-size: 1.5rem;
                color: get-color(orange);

                position: absolute;
                left: 0;
            }
        }

        &.big {
            @include breakpoint(small only) {
                width: 100%;
            }

            li {
                letter-spacing: -0.0625rem;
                line-height: 2rem;
                font-size: 1.375rem;

                @include breakpoint(medium) {
                    letter-spacing: -0.0625rem;
                    line-height: 3rem;
                    font-size: 1.5rem;

                    &:before {
                        line-height: 3rem;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}
